Assets/Temp*
_Ignore*
*.sublime-workspace
*.userprefs
obj/*
*/bin/*
gendarme/*
Temp/*
Temp
*.pidb
/*.pidb
Junk
Junk.meta
*.unityproj
*.csproj
*.sln
Library
/Screenshots
*.suo
/Builds
Assembly-Boo-Editor.booproj
Assembly-Boo-Editor-vs.booproj
